<script id="j-stop" type="text/html">
    <div class="tip-stop-con">
        <table>
            <tr>
                <th>经停城市</th>
                <th>经停时间</th>
                <th>出发时间</th>
            </tr>
            <tr>
                <td>{{cityNameCn}}</td>
                <td>{{arrTime}}</td>
                <td>{{takeoffTime}}</td>
            </tr>
        </table>
    </div>
</script>
<script id="j-flight-nav" type="text/html">
    <div class="progress" style="width:0%"><b></b></div>
    <ul class="flight-title">
        <li class="fore1">航班信息</li>
        <li class="fore2">起飞时间<span class="f-sort"><b class="up"></b><b class="down"></b></span></li>
        <li class="fore3">到达时间<span class="f-sort"><b class="up"></b><b class="down"></b></span></li>
        <li class="fore4">价格<span class="f-sort"><b class="up"></b><b class="down"></b></span></li>
        <li class="fore5"><s class="f-update-icon"></s><span class="f-txt">已</span>为您找到<span class="f-num">0</span>个航班</li>
    </ul>
    <div class="flight-content"></div>
</script>
<script id="j-flight-content" type="text/html">
    {{each item as value}}
    <div class="flight-item" data-isCodeShare="{{value.isCodeShare}}" data-carrierFlightNo="{{value.carrierFlightNo}}">
        <ul class="flight-info flight-info-new flight-info-new2" data-saleId="{{value.sale && value.sale.id}}">
            <li class="fore1">
                <div class="f-logo"><img src="/htm/img/{{value.flightNo.substr(0,2)}}.gif" alt=""></div>
                <div class="f-name" data-flightNo={{value.flightNo}}>{{value.airwaysCn}}{{value.flightNo}}</div>
                <div class="f-model tips-plane" data-planeStyle={{value.planeStyle}} data-flightNo={{value.flightNo}} data-airways={{value.airways}} data-depCity={{value.depCity}} data-arrCity={{value.arrCity}}>
					<span>{{value.planeStyleCN}}{{value.planeStyle}}</span>
					{{if value.isCodeShare == '1'}}
                    	<a href="javascript:;" class="share-flight tips" data-tips="实际乘坐{{value.carrierFlightNo}}{{value.carrierAirwaysCn}}，请按实际乘坐航班办理值机">共享</a>
                    {{/if}}
				</div>
            </li>
            <li class="fore2">
                <div class="f-time">{{value.depTime.substr(0,2)}}:{{value.depTime.substr(2,2)}}</div>
                <div class="f-airport" data-depCity={{value.depCity}}>{{value.depAirdrome}}{{value.depTerminal}}</div>
                <div class="f-duration">{{value.airTime}}</div>
                {{if value.isStop == '1' }}
                <div class="f-stop"><b></b><a href="javascript:;" class="tips-stop" data-id={{value.bingoLeastClassInfo.sourceId}}-{{value.flightNo}}-{{value.depCity}}-{{value.arrCity}}-{{value.carrierFlightNo}}>经停</a></div>
                {{/if}}
            </li>
            <li class="fore3">
                <div class="f-time">
                    {{value.arrTime.substr(0,2)}}:{{value.arrTime.substr(2,2)}}
                    {{if value.addDay != 0 }}
                    <span class="f-add-day">+{{value.addDay}}</span>
                    {{/if}}
                </div>
                <div class="f-airport" data-depCity={{value.arrCity}}>{{value.arrAirdrome}}{{value.arrTerminal}}</div>
            </li>
            <li class="fore4 new-fore4">
                <div class="f-price-wrap f-price-wrap-new">
                    <span class="f-price">￥{{value.bingoLeastClassInfo.price}}</span>
                    <span class="f-discount">起</span>
                </div>
                <div class="f-tags-wrap">
                    {{if value.exsitsActivity && value.activityUserType == '1'}}
                    <span class="f-tag2 first-tag tips2" data-tips="首单优惠仅限未购买过机票的用户参与。该航班参加首单优惠活动">首单减￥{{value.maxReducePrice}}</span>
                    {{else if value.exsitsActivity && value.activityUserType == '3' }}
                    <span class="f-tag2 first-tag tips2" data-tips="此航线参加返京豆优惠，需实名认证与乘机人一致，京豆在乘机后24小时内返到您的账户中。改期或退票不享受购票返豆。 ">送<span class="beans">{{value.maxPromotionBeans}}京豆</span></span>
                    {{else if value.exsitsActivity}}
                    <span class="f-tag2 tips2" data-tips="该航班有参加立减活动的机票，数量有限，先到先得">可减￥{{value.maxReducePrice}}</span>
                    {{else if value.ticketMap && value.ticketMap.hasPcCode }}
                    <span class="f-tag2 tips2" data-tips="该航班有参加立减活动的机票，数量有限，先到先得">可减</span>
                    {{/if}}
                    {{if value.hasVenderCouponFlag == 1}}
                    <span class="f-tag3 tips" data-tips="该航班有可以使用东券的机票。">券</span>
                    {{/if}}
                    {{if value.ticketMap && value.ticketMap.scenicName }}
                    <span class="f-tag tips-ticket">含门票</span>
                    {{/if}}
                    {{if value.sale && value.sale.type == 1}}
                    <span class="f-tag5 tips-give">赠</span>
                    {{/if}}
                </div>
            </li>
            <li class="fore5">
                <div class="f-option">
                    <a href="javascript:;" class="btn-more">选择<b class="f-down"></b></a>
                    <span class="f-total f-total-new"></span>
                </div>
            </li>
        </ul>
        <div class="flight-detail">
            {{each value.bingoClassInfoList as subValue}}
            {{if subValue.sourceId == '616106'}}
            <ul class="flight-class" data-first="{{subValue.isfirstShow}}" data-airways="{{value.airways}}" data-policyId="{{subValue.policyId}}"
                data-productCode="{{subValue.productCode}}" data-fareItemId="{{subValue.fareItemId}}" data-price="{{subValue.price}}"
                data-sourceId="{{subValue.sourceId}}" data-classNo="{{subValue.classNo}}" data-flightNo="{{value.flightNo}}"
                data-uniqueKey="" data-activityId="{{subValue.activityId}}" data-venderPrice="{{subValue.venderPrice}}"
                data-originalPrice="{{subValue.originalPrice}}"
                data-childSeatCode="{{subValue.childSeatCode}}"
                data-childSalePrice="{{subValue.childSalePrice}}"
                data-seatType="{{subValue.seatType}}"
                data-fastIssueSwitch="{{subValue.fastIssueSwitch}}"
                data-fastRefundSwitch="{{subValue.fastRefundSwitch}}"
				data-limitAgeBegin="{{subValue.limitAgeBegin}}"
				data-limitAgeEnd="{{subValue.limitAgeEnd}}"
				data-limitCert="{{subValue.limitCert}}"
				data-deliveryType="{{subValue.deliveryType}}"
				data-policySourceType="{{subValue.policySourceType}}"
				data-workTime="{{subValue.workTime}}"
                data-saleId="{{subValue.sale && subValue.sale.id}}"
				data-infantSalePrice="{{subValue.infantSalePrice}}"
				data-infantVenderPrice="{{subValue.infantVenderPrice}}"
				data-infantSeatCode="{{subValue.infantSeatCode}}"
				data-discount="{{subValue.discount}}"
                data-depCity="{{value.depCity}}"
                data-arrCity ="{{value.arrCity}}"
				>
            {{else}}
            <ul class="flight-class" data-first="{{subValue.isfirstShow}}" data-airways="{{value.airways}}" data-policyId="{{subValue.policyId}}"
                data-productCode="{{subValue.productCode}}" data-fareItemId="{{subValue.fareItemId}}" data-price="{{subValue.price}}"
                data-sourceId="{{subValue.sourceId}}" data-classNo="{{subValue.classNo}}" data-flightNo="{{value.flightNo}}"
                data-uniqueKey="{{subValue.uniqueKey}}" data-activityId="{{subValue.activityId}}" data-venderPrice="{{subValue.venderPrice}}"
                data-originalPrice="{{subValue.originalPrice}}"
                data-childSeatCode="{{subValue.childSeatCode}}"
                data-childSalePrice="{{subValue.childSalePrice}}"
                data-seatType="{{subValue.seatType}}"
                data-isFastTicket="{{subValue.isFastTicket}}"
                data-fastIssueSwitch="{{subValue.fastIssueSwitch}}"
                data-fastRefundSwitch="{{subValue.fastRefundSwitch}}"
				data-limitAgeBegin="{{subValue.limitAgeBegin}}"
				data-limitAgeEnd="{{subValue.limitAgeEnd}}"
				data-limitCert="{{subValue.limitCert}}"
				data-deliveryType="{{subValue.deliveryType}}"
				data-policySourceType="{{subValue.policySourceType}}"
				data-workTime="{{subValue.workTime}}"
                data-saleId="{{subValue.sale && subValue.sale.id}}"
				data-infantSalePrice="{{subValue.infantSalePrice}}"
				data-infantVenderPrice="{{subValue.infantVenderPrice}}"
				data-infantSeatCode="{{subValue.infantSeatCode}}"
				data-discount="{{subValue.discount}}"
                data-depCity="{{value.depCity}}"
                data-arrCity ="{{value.arrCity}}"
				>
            {{/if}}
                <li class="fore1">
                    {{if subValue.sourceId == '138669'}}
                    <div class="f-mark f-mark2 tips" data-tips="航空公司官网直销产品，提供官方价格">国航旗舰店</div>
                    {{else if subValue.sourceId == '86385'}}
                    <div class="f-mark f-mark3 tips" data-tips="航空公司官网直销产品，提供官方价格">首航旗舰店</div>
                    {{else if subValue.sourceId == '106706' || subValue.sourceId == '661726' || subValue.sourceId == '66301'}}
                    <div class="f-mark f-mark4 tips" data-tips="航空公司官网直销产品，提供官方价格">深航旗舰店</div>
                    {{else if subValue.sourceId == '616106'}}
                    <div class="f-mark f-mark9 tips" data-tips="航空公司官网直销产品，提供官方价格">海航航旗舰店</div>
                    {{else if subValue.sourceId == '616066'}}
                    <div class="f-mark f-mark11 tips" data-tips="航空公司官网直销产品，提供官方价格">东航旗舰店</div>
                    {{else if subValue.sourceId == '615927'}}
                    <div class="f-mark f-mark10 tips" data-tips="航空公司官网直销产品，提供官方价格">南航旗舰店</div>
                    {{else if subValue.sourceId == '650446' || subValue.sourceId == '66361'}}
                    <div class="f-mark f-mark13 tips" data-tips="航空公司官网直销产品，提供官方价格">春秋航空旗舰店</div>
                    {{else if subValue.sourceId == '649306' || subValue.sourceId == '66363'}}
                    <div class="f-mark f-mark14 tips" data-tips="航空公司官网直销产品，提供官方价格">厦门航空旗舰店</div>
                    {{else if subValue.sourceId == '660846' || subValue.sourceId == '66362'}}
                    <div class="f-mark f-mark15 tips" data-tips="航空公司官网直销产品，提供官方价格">天津航空旗舰店</div>
                    {{else if subValue.sourceId == '699349' || subValue.sourceId == '66721'}}
                    <div class="f-mark f-mark16 tips" data-tips="航空公司官网直销产品，提供官方价格">四川航空旗舰店</div>
                    {{else if subValue.sourceId == '687287' || subValue.sourceId == '66762'}}
                    <div class="f-mark f-mark17 tips" data-tips="航空公司官网直销产品，提供官方价格">九元航空旗舰店</div>
                    {{else if subValue.sourceId == '700566' || subValue.sourceId == '66763'}}
                    <div class="f-mark f-mark18 tips" data-tips="航空公司官网直销产品，提供官方价格">祥鹏航空旗舰店</div>
                    {{else if subValue.sourceId == '741310' || subValue.sourceId == '67241'}}
                    <div class="f-mark f-mark19 tips" data-tips="航空公司官网直销产品，提供官方价格">奥凯航空旗舰店</div>
                    {{else if (subValue.sourceId == '188126' || subValue.sourceId == '59042') &&  subValue.leastClassInfoFlag == 'jdzy'}}
                    <div class="f-mark f-mark8 tips">京东自营</div>
                    {{else if subValue.sourceId == '588586' || subValue.sourceId == '621906' || subValue.sourceId == '58489' || subValue.sourceId == '66262'}}
                    <div class="f-mark f-mark8 tips">京东自营</div>
                    {{else if subValue.leastClassInfoFlag == '1'}}
                    <div class="f-mark f-mark6 tips" data-tips="京东特享机票服务有保障：100%航协认证,100%出票保证,尊享7*24小时全天候服务">京东特享</div>
                    {{else if subValue.classLimit !=null && subValue.classLimit.mp != null}}
                    <div class="f-mark f-mark5">N人飞享</div>
                    {{else}}
                    <div class="f-mark f-mark12">商家优选</div>
                    {{/if}}
                </li>
                <li class="fore2">
                    <div>
                        {{if subValue.refundRemark && subValue.refundRemark.type == 0 || !subValue.refundRemark}}
                            <a href="javascript:;" class="f-modify tips-modify-new">退改签</a>
                        {{else if subValue.refundRemark}}
                        <a href="javascript:;" class="f-modify tips-modify-new">
                                {{if subValue.refundRemark.type == 1}}
                                    退改&yen;{{subValue.refundRemark.value}}起
                                {{else if subValue.refundRemark.type == 2}}
                                    免费退票
                                {{else if subValue.refundRemark.type == 3}}
                                    免费改期
                                {{else if subValue.refundRemark.type == 4}}
                                    免费退改
                                {{else if subValue.refundRemark.type == 5}}
                                    只退机建燃油
                                {{/if}}
                            </a>
                        {{/if}}
						{{if subValue.fastIssueSwitch == 'true'
                        && (subValue.isFastTicket == '1' || subValue.isFastTicket == '3')}}
                        <span class="f-tag4 tips2" data-tips="{{subValue.fastIssueTime}}分钟极速出票" >极速出票</span>
                        {{/if}}
                        {{if subValue.fastRefundSwitch == 'true'
                        && (subValue.isFastTicket == '2' || subValue.isFastTicket == '3')}}
                        <span class="f-tag4 tips2" data-tips="提交自愿退票成功，极速退款" >极速退票</span>
                        {{/if}}
                        {{if subValue.sale && subValue.sale.type == 1}}
                        <span class="f-tag5 tips-give">赠</span>
                        {{/if}}
                        {{if (subValue.sourceId == '106706' || subValue.sourceId == '661726' || subValue.sourceId == '66301' || subValue.sourceId == '616066') && subValue.productCode && subValue.productName}}
                        <span class="f-tag6 tips2" data-tips="{{subValue.productDesc}}" ><s></s>{{subValue.productName}}<b></b></span>
                        {{/if}}
                        {{if subValue.seatType == '5' }}
                        <span class="f-tag7">京东特惠</span>
                        {{/if}}
                    </div>
                    {{if subValue.classLimit != null}}
                        {{if subValue.classLimit.slow != null}}
                            <span class="f-tag f-tag3 tips" data-tips={{subValue.classLimitInfo}}>出票慢</span>
                        {{/if}}
                        {{if subValue.classLimit.traveler != null && subValue.classLimit.traveler == '1'}}
                            <span class="f-tag f-tag3 tips" data-tips={{subValue.classLimitInfo}}>≥12岁</span>
                        {{/if}}
                        {{if subValue.classLimit.bill == 'NoReimbursementVoucher'}}
                            <span class="f-tag f-tag3">不提供报销凭证</span>
                        {{else if subValue.classLimit.bill == 'OnlyInvoice' || subValue.classLimit.bill == 'InvoiceOrItinerary' }}
                            <span class="f-tag f-tag3 tips" data-tips={{subValue.classLimitInfo}}>发票</span>
                        {{/if}}
                    {{/if}}

                    {{if subValue.sourceId == '650446' || subValue.sourceId == '66361'}}
                    <span class="f-tag f-tag3 tips" data-tips={{subValue.luggageText}}>行李额受限</span>
                    {{else if subValue.luggage == '0'}}
                        <span class="f-tag f-tag3 tips" data-tips={{subValue.luggageText}}>无行李额</span>
                    {{else if subValue.luggage != null}}
                        <span class="f-tag f-tag3 tips" data-tips={{subValue.luggageText}}>限{{subValue.luggage}}kg</span>
                    {{/if}}
                    {{if subValue.mile}}
                        <span class="f-tag f-tag3 tips" data-tips="具体累积规则及条款，请以航司官网规定为准。">{{subValue.mile}}倍里程</span>
                    {{/if}}

					{{if subValue.limitAgeText != null && subValue.limitAgeText != '' }}
						<span class="f-tag f-tag3 tips" data-tips={{subValue.limitAgeText}}>限年龄</span>
					{{/if}}

					{{if subValue.limitCertText != null && subValue.limitCertText != ''}}
						<span class="f-tag f-tag3 tips" data-tips={{subValue.limitCertText}}>限证件</span>
					{{/if}}
                    {{if subValue.slowIssueText}}
                        <span class="f-tag f-tag3 tips" data-tips={{subValue.slowIssueText}}>出票慢</span>
                    {{/if}}
                    {{if subValue.slowRefundText}}
                        <span class="f-tag f-tag3 tips" data-tips={{subValue.slowRefundText}}>退票慢</span>
                    {{/if}}
                    {{if subValue.limitPersonNum}}
                        <span class="f-tag f-tag3 tips" data-tips={{subValue.limitOrderText}}>{{limitPersonNum}}</span>
                    {{/if}}
                </li>
                <li class="fore3">
                    {{if subValue.isSpecialClass}}
                    <span class="f-space f-special tips" data-tips="{{subValue.classText}}">{{if subValue.shortClassNoCn != null}}{{subValue.shortClassNoCn}}{{/if}}{{subValue.classNoCn}}</span>
                    {{else}}
                    <span class="f-space tip-item tips">{{subValue.classNoCn}}</span>
                    {{/if}}
                    <span class="f-discount">
                        {{if subValue.discount < 10}}
                        {{subValue.discount}}折
                        {{/if}}
                    </span>
                </li>
                <li class="fore4{{if subValue.isBindVenderInsurance == '1'}} double-line{{/if}}">
                    <span class="f-price">￥{{subValue.price}}</span>
					<div class="other-price">
                        {{if subValue.childSalePrice != 0}}
                        <span class="f-children tips" data-tips='<strong>儿童（2-12周岁）</strong><br>儿童票：<span class="f-red">￥{{subValue.childSalePrice}}</span> | 机建+燃油：<span class="f-red">￥{{subValue.childBuildFee}}+￥{{subValue.childOilTax}}</span>'>儿童￥{{subValue.childSalePrice}}</span>
                        {{/if}}
                        {{if subValue.infantSalePrice != 0}}
                        <span class="f-baby tips" data-tips='<strong>婴儿（14天-2周岁）</strong><br>婴儿票：<span class="f-red">￥{{subValue.infantSalePrice}}</span> | 机建+燃油：<span class="f-red">￥{{subValue.infantBuildFee}}+￥{{subValue.infantOilTax}}</span>'>婴儿￥{{subValue.infantSalePrice}}</span>
                        {{/if}}
                    </div>
                    {{if subValue.isBindVenderInsurance == '1'}}
                    <div class="f-insurance"><span>+￥{{subValue.venderInsuranceSalePrice}}</span>保险</div>
                    {{/if}}
                    {{if subValue.activityId}}
                        {{if subValue.activityUserType == '1'}}
                        <span class="reduce reduce-first tips2" data-tips="首次购买机票的用户享受部分航线首单优惠，如发生退改时优惠金额不退">首单减￥{{subValue.reducePrice}}</span>
                        {{else if subValue.activityUserType == '3'}}
                        <span class="reduce reduce-first tips2" data-tips="此航线参加返京豆优惠，需实名认证与乘机人一致，京豆在乘机后24小时内返到您的账户中。改期或退票不享受购票返豆。">送<span class="beans">{{subValue.promotionBeans}}京豆</span></span>
                        {{else}}
                        <span class="reduce tips2" data-tips="参加立减优惠的机票，发生退改时立减优惠金额不退">可减￥{{subValue.reducePrice}}</span>
                        {{/if}}
                    {{else if subValue.sourceId == '138669'&&subValue.classLimitInfo && subValue.classLimitInfo != ''}}
                        {{if subValue.classLimitInfo.substr(subValue.classLimitInfo.search(/\d*$/g)) >= 100}}
                        <span class="reduce reduce-long tips2" data-tips="国航特惠，仅成人票可享受该优惠，发生退票时，优惠金额不退，发生改期时，需补足优惠金额">可减￥{{subValue.classLimitInfo.substr(subValue.classLimitInfo.search(/\d*$/g))}}</span>
                        {{else}}
                        <span class="reduce tips2" data-tips="国航特惠，仅成人票可享受该优惠，发生退票时，优惠金额不退，发生改期时，需补足优惠金额">可减￥{{subValue.classLimitInfo.substr(subValue.classLimitInfo.search(/\d*$/g))}}</span>
                        {{/if}}
                    {{/if}}
                </li>
                    <li class="fore5{{if subValue.hasVenderCouponFlag == 1}} fore-coupon{{/if}}">
                    <a href="javascript:;" class="btn-order">预&nbsp;&nbsp;订</a>
                        {{if subValue.seatNum == 1}}
                            <span class="f-rest">{{subValue.seatNum}}张<b></b></span>
                        {{else if subValue.seatNum < 9 && subValue.seatNum > 0}}
                            <span class="f-rest">≤{{subValue.seatNum}}张<b></b></span>
                        {{/if}}
                        {{if subValue.hasVenderCouponFlag == 1}}
                        {{include 'j-coupon-dropdown'}}
                        {{/if}}
                </li>
            </ul>
            {{/each}}
        </div>
        <div class="flight-all"><a href="javascript:;">展开更多价格(<span></span>)<b class="f-down"></b></a></div>
    </div>
    {{/each}}
</script>
<script id="j-flight-class" type="text/html">
        {{if subValue.sourceId == '616106'}}
        <ul class="flight-class" data-first="{{subValue.isfirstShow}}" data-airways="{{value.airways}}" data-policyId="{{subValue.policyId}}"
            data-productCode="{{subValue.productCode}}" data-fareItemId="{{subValue.fareItemId}}" data-price="{{subValue.price}}"
            data-sourceId="{{subValue.sourceId}}" data-classNo="{{subValue.classNo}}" data-flightNo="{{value.flightNo}}"
            data-uniqueKey="" data-activityId="{{subValue.activityId}}" data-venderPrice="{{subValue.venderPrice}}"
            data-originalPrice="{{subValue.originalPrice}}"
            data-childSeatCode="{{subValue.childSeatCode}}"
            data-childSalePrice="{{subValue.childSalePrice}}"
            data-seatType="{{subValue.seatType}}"
            data-isFastTicket="{{subValue.isFastTicket}}"
            data-fastIssueSwitch="{{subValue.fastIssueSwitch}}"
            data-fastRefundSwitch="{{subValue.fastRefundSwitch}}"
			data-limitAgeBegin="{{subValue.limitAgeBegin}}"
			data-limitAgeEnd="{{subValue.limitAgeEnd}}"
			data-limitCert="{{subValue.limitCert}}"
			data-deliveryType="{{subValue.deliveryType}}"
			data-policySourceType="{{subValue.policySourceType}}"
			data-workTime="{{subValue.workTime}}"
			data-saleId="{{subValue.sale && subValue.sale.id}}"
			data-infantSalePrice="{{subValue.infantSalePrice}}"
			data-infantVenderPrice="{{subValue.infantVenderPrice}}"
			data-infantSeatCode="{{subValue.infantSeatCode}}"
			data-discount="{{subValue.discount}}"
            data-depCity="{{value.depCity}}"
            data-arrCity ="{{value.arrCity}}"
			>
        {{else}}
        <ul class="flight-class" data-first="{{subValue.isfirstShow}}" data-airways="{{value.airways}}" data-policyId="{{subValue.policyId}}"
            data-productCode="{{subValue.productCode}}" data-fareItemId="{{subValue.fareItemId}}" data-price="{{subValue.price}}"
            data-sourceId="{{subValue.sourceId}}" data-classNo="{{subValue.classNo}}" data-flightNo="{{value.flightNo}}"
            data-uniqueKey="{{subValue.uniqueKey}}" data-activityId="{{subValue.activityId}}" data-venderPrice="{{subValue.venderPrice}}"
            data-originalPrice="{{subValue.originalPrice}}"
            data-childSeatCode="{{subValue.childSeatCode}}"
            data-childSalePrice="{{subValue.childSalePrice}}"
            data-seatType="{{subValue.seatType}}"
            data-isFastTicket="{{subValue.isFastTicket}}"
            data-fastIssueSwitch="{{subValue.fastIssueSwitch}}"
            data-fastRefundSwitch="{{subValue.fastRefundSwitch}}"
			data-limitAgeBegin="{{subValue.limitAgeBegin}}"
			data-limitAgeEnd="{{subValue.limitAgeEnd}}"
			data-limitCert="{{subValue.limitCert}}"
			data-deliveryType="{{subValue.deliveryType}}"
			data-policySourceType="{{subValue.policySourceType}}"
			data-workTime="{{subValue.workTime}}"
			data-saleId="{{subValue.sale && subValue.sale.id}}"
			data-infantSalePrice="{{subValue.infantSalePrice}}"
			data-infantVenderPrice="{{subValue.infantVenderPrice}}"
			data-infantSeatCode="{{subValue.infantSeatCode}}"
			data-discount="{{subValue.discount}}"
            data-depCity="{{value.depCity}}"
            data-arrCity ="{{value.arrCity}}"
			>
        {{/if}}
            <li class="fore1">
                {{if subValue.sourceId == '138669'}}
                <div class="f-mark f-mark2 tips" data-tips="航空公司官网直销产品，提供官方价格">国航旗舰店</div>
                {{else if subValue.sourceId == '86385'}}
                <div class="f-mark f-mark3 tips" data-tips="航空公司官网直销产品，提供官方价格">首航旗舰店</div>
                {{else if subValue.sourceId == '106706' || subValue.sourceId == '661726' || subValue.sourceId == '66301'}}
                <div class="f-mark f-mark4 tips" data-tips="航空公司官网直销产品，提供官方价格">深航旗舰店</div>
                {{else if subValue.sourceId == '616106'}}
                <div class="f-mark f-mark9 tips" data-tips="航空公司官网直销产品，提供官方价格">海航航旗舰店</div>
                {{else if subValue.sourceId == '616066'}}
                <div class="f-mark f-mark11 tips" data-tips="航空公司官网直销产品，提供官方价格">东航旗舰店</div>
                {{else if subValue.sourceId == '615927'}}
                <div class="f-mark f-mark10 tips" data-tips="航空公司官网直销产品，提供官方价格">南航旗舰店</div>
                {{else if subValue.sourceId == '650446' || subValue.sourceId == '66361'}}
                <div class="f-mark f-mark13 tips" data-tips="航空公司官网直销产品，提供官方价格">春秋航空旗舰店</div>
                {{else if subValue.sourceId == '649306' || subValue.sourceId == '66363'}}
                <div class="f-mark f-mark14 tips" data-tips="航空公司官网直销产品，提供官方价格">厦门航空旗舰店</div>
                {{else if subValue.sourceId == '660846' || subValue.sourceId == '66362'}}
                <div class="f-mark f-mark15 tips" data-tips="航空公司官网直销产品，提供官方价格">天津航空旗舰店</div>
                {{else if subValue.sourceId == '699349' || subValue.sourceId == '66721'}}
                <div class="f-mark f-mark16 tips" data-tips="航空公司官网直销产品，提供官方价格">四川航空旗舰店</div>
                {{else if subValue.sourceId == '687287' || subValue.sourceId == '66762'}}
                <div class="f-mark f-mark17 tips" data-tips="航空公司官网直销产品，提供官方价格">九元航空旗舰店</div>
                {{else if subValue.sourceId == '700566' || subValue.sourceId == '66763'}}
                <div class="f-mark f-mark18 tips" data-tips="航空公司官网直销产品，提供官方价格">祥鹏航空旗舰店</div>
                {{else if subValue.sourceId == '741310' || subValue.sourceId == '67241'}}
                <div class="f-mark f-mark19 tips" data-tips="航空公司官网直销产品，提供官方价格">奥凯航空旗舰店</div>
                {{else if (subValue.sourceId == '188126' || subValue.sourceId == '59042') &&  subValue.leastClassInfoFlag == 'jdzy'}}
                <div class="f-mark f-mark8 tips">京东自营</div>
                {{else if subValue.sourceId == '588586' || subValue.sourceId == '621906' || subValue.sourceId == '58489' || subValue.sourceId == '66262'}}
                <div class="f-mark f-mark8 tips">京东自营</div>
                {{else if subValue.leastClassInfoFlag == '1'}}
                <div class="f-mark f-mark6 tips" data-tips="京东特享机票服务有保障：100%航协认证,100%出票保证,尊享7*24小时全天候服务">京东特享</div>
                {{else if subValue.classLimit !=null && subValue.classLimit.mp != null}}
                <div class="f-mark f-mark5">N人飞享</div>
                {{else}}
                <div class="f-mark f-mark12">商家优选</div>
                {{/if}}
            </li>
            <li class="fore2">
                <div>
                    {{if subValue.refundRemark && subValue.refundRemark.type == 0 || !subValue.refundRemark}}
                    <a href="javascript:;" class="f-modify tips-modify-new">退改签</a>
                    {{else if subValue.refundRemark }}
                    <a href="javascript:;" class="f-modify tips-modify-new">
                        {{if subValue.refundRemark.type == 1}}
                        退改&yen;{{subValue.refundRemark.value}}起
                        {{else if subValue.refundRemark.type == 2}}
                        免费退票
                        {{else if subValue.refundRemark.type == 3}}
                        免费改期
                        {{else if subValue.refundRemark.type == 4}}
                        免费退改
                        {{else if subValue.refundRemark.type == 5}}
                        只退机建燃油
                        {{/if}}
                    </a>
                    {{/if}}
                    {{if subValue.fastIssueSwitch == 'true'
                    && (subValue.isFastTicket == '1' || subValue.isFastTicket == '3')}}
                    <span class="f-tag4 tips2" data-tips="{{subValue.fastIssueTime}}分钟极速出票" >极速出票</span>
                    {{/if}}
                    {{if subValue.fastRefundSwitch == 'true'
                    && (subValue.isFastTicket == '2' || subValue.isFastTicket == '3')}}
                    <span class="f-tag4 tips2" data-tips="提交自愿退票成功，极速退款" >极速退票</span>
                    {{/if}}
                    {{if subValue.sale && subValue.sale.type == 1}}
                    <span class="f-tag5 tips-give">赠</span>
                    {{/if}}
                    {{if (subValue.sourceId == '106706' || subValue.sourceId == '661726' || subValue.sourceId == '66301' || subValue.sourceId == '616066') && subValue.productCode && subValue.productName}}
                    <span class="f-tag6 tips2" data-tips="{{subValue.productDesc}}" ><s></s>{{subValue.productName}}<b></b></span>
                    {{/if}}
                    {{if subValue.seatType == '5' }}
                    <span class="f-tag7">京东特惠</span>
                    {{/if}}
                </div>
                {{if subValue.classLimit != null}}
                    {{if subValue.classLimit.slow != null}}
                        <span class="f-tag f-tag3 tips" data-tips={{subValue.classLimitInfo}}>出票慢</span>
                    {{/if}}
                    {{if subValue.classLimit.traveler != null && subValue.classLimit.traveler == '1'}}
                        <span class="f-tag f-tag3 tips" data-tips={{subValue.classLimitInfo}}>≥12岁</span>
                    {{/if}}
                    {{if subValue.classLimit.bill == 'NoReimbursementVoucher'}}
                        <span class="f-tag f-tag3">不提供报销凭证</span>
                    {{else if subValue.classLimit.bill == 'OnlyInvoice' || subValue.classLimit.bill == 'InvoiceOrItinerary' }}
                        <span class="f-tag f-tag3 tips" data-tips={{subValue.classLimitInfo}}>发票</span>
                    {{/if}}
                {{/if}}

                {{if subValue.sourceId == '650446' || subValue.sourceId == '66361'}}
                <span class="f-tag f-tag3 tips" data-tips={{subValue.luggageText}}>行李额受限</span>
                {{else if subValue.luggage == '0'}}
                    <span class="f-tag f-tag3 tips" data-tips={{subValue.luggageText}}>无行李额</span>
                {{else if subValue.luggage != null}}
                    <span class="f-tag f-tag3 tips" data-tips={{subValue.luggageText}}>限{{subValue.luggage}}kg</span>
                {{/if}}
                {{if subValue.mile}}
                    <span class="f-tag f-tag3 tips" data-tips="具体累积规则及条款，请以航司官网规定为准。">{{subValue.mile}}倍里程</span>
                {{/if}}

				{{if subValue.limitAgeText != null && subValue.limitAgeText != '' }}
					<span class="f-tag f-tag3 tips" data-tips={{subValue.limitAgeText}}>限年龄</span>
				{{/if}}

				{{if subValue.limitCertText != null && subValue.limitCertText != ''}}
					<span class="f-tag f-tag3 tips" data-tips={{subValue.limitCertText}}>限证件</span>
				{{/if}}
                {{if subValue.slowIssueText}}
                    <span class="f-tag f-tag3 tips" data-tips={{subValue.slowIssueText}}>出票慢</span>
                {{/if}}
                {{if subValue.slowRefundText}}
                    <span class="f-tag f-tag3 tips" data-tips={{subValue.slowRefundText}}>退票慢</span>
                {{/if}}
                {{if subValue.limitPersonNum}}
                    <span class="f-tag f-tag3 tips" data-tips={{subValue.limitOrderText}}>{{limitPersonNum}}</span>
                {{/if}}
            </li>
            <li class="fore3">
                {{if subValue.isSpecialClass}}
                <span class="f-space f-special tips" data-tips="{{subValue.classText}}">{{if subValue.shortClassNoCn != null}}{{subValue.shortClassNoCn}}{{/if}}{{subValue.classNoCn}}</span>
                {{else}}
                <span class="f-space tip-item tips">{{subValue.classNoCn}}</span>
                {{/if}}
                <span class="f-discount">
                    {{if subValue.discount < 10}}
                    {{subValue.discount}}折
                    {{/if}}
                </span>
            </li>
            <li class="fore4{{if subValue.isBindVenderInsurance == '1'}} double-line{{/if}}">
                <span class="f-price">￥{{subValue.price}}</span>
                <div class="other-price">
                    {{if subValue.childSalePrice != 0}}
                    <span class="f-children tips" data-tips='<strong>儿童（2-12周岁）</strong><br>儿童票：<span class="f-red">￥{{subValue.childSalePrice}}</span> | 机建+燃油：<span class="f-red">￥{{subValue.childBuildFee}}+￥{{subValue.childOilTax}}</span>'>儿童￥{{subValue.childSalePrice}}</span>
                    {{/if}}
                    {{if subValue.infantSalePrice != 0}}
                    <span class="f-baby tips" data-tips='<strong>婴儿（14天-2周岁）</strong><br>婴儿票：<span class="f-red">￥{{subValue.infantSalePrice}}</span> | 机建+燃油：<span class="f-red">￥{{subValue.infantBuildFee}}+￥{{subValue.infantOilTax}}</span>'>婴儿￥{{subValue.infantSalePrice}}</span>
                    {{/if}}
                </div>
                {{if subValue.isBindVenderInsurance == '1'}}
                <div class="f-insurance"><span>+￥{{subValue.venderInsuranceSalePrice}}</span>保险</div>
                {{/if}}
                {{if subValue.activityId}}
                {{if subValue.activityUserType == '1'}}
                <span class="reduce reduce-first tips2" data-tips="首次购买机票的用户享受部分航线首单优惠，如发生退改时优惠金额不退">首单减￥{{subValue.reducePrice}}</span>
                {{else if subValue.activityUserType == '3'}}
                <span class="reduce reduce-first tips2" data-tips="此航线参加返京豆优惠，需实名认证与乘机人一致，京豆在乘机后24小时内返到您的账户中。改期或退票不享受购票返豆。
">送<span class="beans">{{subValue.promotionBeans}}京豆</span></span>
                {{else}}
                <span class="reduce tips2" data-tips="参加立减优惠的机票，发生退改时立减优惠金额不退">可减￥{{subValue.reducePrice}}</span>
                    {{/if}}
                {{else if subValue.sourceId == '138669'&&subValue.classLimitInfo && subValue.classLimitInfo != ''}}
                    {{if subValue.classLimitInfo.substr(subValue.classLimitInfo.search(/\d*$/g)) >= 100}}
                    <span class="reduce reduce-long tips2" data-tips="国航特惠，仅成人票可享受该优惠，发生退票时，优惠金额不退，发生改期时，需补足优惠金额">可减￥{{subValue.classLimitInfo.substr(subValue.classLimitInfo.search(/\d*$/g))}}</span>
                    {{else}}
                    <span class="reduce tips2" data-tips="国航特惠，仅成人票可享受该优惠，发生退票时，优惠金额不退，发生改期时，需补足优惠金额">可减￥{{subValue.classLimitInfo.substr(subValue.classLimitInfo.search(/\d*$/g))}}</span>
                    {{/if}}
                {{/if}}
            </li>
            <li class="fore5{{if subValue.hasVenderCouponFlag == 1}} fore-coupon{{/if}}">
                <a href="javascript:;" class="btn-order">预&nbsp;&nbsp;订</a>
                {{if subValue.seatNum == 1}}
                <span class="f-rest">{{subValue.seatNum}}张<b></b></span>
                {{else if subValue.seatNum < 9 && subValue.seatNum > 0}}
                <span class="f-rest">≤{{subValue.seatNum}}张<b></b></span>
                {{/if}}
                {{if subValue.hasVenderCouponFlag == 1}}
                {{include 'j-coupon-dropdown'}}
                {{/if}}
            </li>
        </ul>
</script>
<script id="j-coupon-dropdown" type="text/html">
    <div class="coupon-title"><s>券</s><span>领取优惠</span><b></b></div>
</script>
<script id="j-give" type="text/html">
    <div class="given-tip">
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <a href="{{path}}" target="_blank">查看活动详情&nbsp;&gt;</a>
    </div>
</script>
<script id="j-coupon-list" type="text/html">
    <div class="coupon-con">
        <ul>
            {{each item as value}}
            <li {{if value.received || value.over}} class="disabled" {{/if}}>
            <div class="c-value"><b></b>&yen;<strong>{{value.discount}}</strong></div>
            <div class="c-detail">
                <div class="c-info"><span class="c-type">东券</span>满{{value.quota}}可用｜{{value.limitStr}}</div>
                <div class="c-date">{{value.beginTime}}-{{value.endTime}}</div>
            </div>
            <div class="c-btn"><a class="btn-get" href="javascript:;" data-sourceId="{{sourceId}}" data-key="{{value.applyKey}}">{{if value.over}}已领光{{else if value.received}}已领取{{else}}立即领取{{/if}}</a></div>
            </li>
            {{/each}}
        </ul>
    </div>
</script>
<script id="j-flight-selected" type="text/html">
    <div class="selected-info">
        <div class="s-date">
            已选去程&emsp;&emsp;<span>{{depDate}}</span>
        </div>
        <div class="s-city">
            <span class="s-city-from">{{depCity}}</span><b>—</b><span class="s-city-to">{{arrCity}}</span>
        </div>
    </div>
    <div class="selected-detail">
        <div class="s-name">{{airwaysCn}}<br>{{flightNo}}<s></s></div>
        <div class="s-route">
            <div class="s-time">{{depTime.substr(0,2)}}:{{depTime.substr(2,2)}}</div>
            <div class="s-airport">{{depAirdrome}}{{depTerminal}}</div>
        </div>
        <div class="s-duration">{{airTime}}</div>
        <div class="s-route">
            <div class="s-time">{{arrTime.substr(0,2)}}:{{arrTime.substr(2,2)}}</div>
            <div class="s-airport">{{arrAirdrome}}{{arrTerminal}}</div>
        </div>
        <div class="s-space">
            <b>{{bingoLeastClassInfo.classNoCn}}：</b><span class="s-price">￥{{bingoLeastClassInfo.price}}</span>含税费
        </div>
        <a href="javascript:;" class="btn-modify">重选去程</a>
    </div>
</script>
<script id="j-history" type="text/html">
    <div class="mt"><h3><b></b>历史查询</h3></div>
    <ul class="mc">
        {{each item as value}}
        <li>
            <div class="h-flight">
                {{if value.lineType == 'OW'}}
                <span>单程</span>
                <span>{{value.depCity}}<b class="h-single"></b>{{value.arrCity}}</span>
                {{else}}
                <span>往返</span>
                <span>{{value.depCity}}<b class="h-double"></b>{{value.arrCity}}</span>
                {{/if}}
            </div>
            <div class="h-info">
                <div class="h-date">
                    {{if value.lineType == 'OW'}}
                    <span>{{value.depDate}}</span>
                    {{else}}
                    <span>{{value.depDate}}（去）</span><span>{{value.arrDate}}（返）</span>
                    {{/if}}
                </div>
                <div class="h-time">{{value.queryTime}}</div>
            </div>
            <div class="h-price">当前价：￥{{value.price}}起{{if value.change.indexOf('+') == 0}}<span class="h-up">（↑￥{{value.change.substr(1)}}）</span>{{else if value.change.indexOf('-') == 0}}<span class="h-down">（↓￥{{value.change.substr(1)}}）</span>{{/if}}</div>
            <a href={{value.queryUrl}} class="h-link"></a>
        </li>
        {{/each}}
    </ul>
</script>
<script id="j-filter" type="text/html">
    <div class="f-title">筛选：</div>
    {{each item as value i}}
    <dl class="dropdown" data-filter="{{i.split('-')[1]}}" {{if i.split('-')[2]}} clstag="{{i.split('-')[2]}}"{{/if}}>
        <dt>{{i.split('-')[0]}}<b></b><s></s></dt>
        {{if i.split('-')[0] == '航空公司'}}
        <dd class="d-company">
            {{else if i.split('-')[0] == '起飞时段' || i.split('-')[0] == '到达时段'}}
        <dd class="d-time">
            {{else}}
        <dd>
            {{/if}}
            <ul>
                {{each value as subValue si}}
                <li class="chkbox" data-code={{si}} data-filter={{i.split('-')[1]}}><b></b><span>{{subValue}}</span></li>
                {{/each}}
            </ul>
        </dd>
    </dl>
    {{/each}}
</script>
<script id="j-twoWeek" type="text/html">
    {{each item as value}}
    <li data-ui="slide-item">
        <div class="time" data-date={{value.date}}>{{value.dateString}} {{value.weekString}}</div>
        <div class="price">
            {{if value.price == "查看"}}
            <span>点击查看</span>
            {{else}}
            ￥{{value.price}}
            {{/if}}
        </div>
    </li>
    {{/each}}
</script>
<script id="j-tip-modify" type="text/html">
    <div id="ordertrack">
        <div class="cell">
            <strong>票面价：</strong><strong
                class="price">￥{{originalPrice}}</strong>
            <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;舱位：{{classNOCn}}</strong>
        </div>
        <table class="track-tb" cellspacing="0" cellpadding="0">
            <tr>
                <td rowspan="8" width="10"><strong>成人票</strong></td>
            </tr>
            {{if (!refundRules || refundRules.length == 0)
                && (!refund || refund == '查询不到相关信息' || refund == '' )
                && (!rebooking || rebooking == '查询不到相关信息' || rebooking == '')
                && (!endorse || endorse == '查询不到相关信息' || endorse == '')
                && (!luggallow || luggallow == '查询不到相关信息。' || luggallow == '')
                && (!mealInfo || mealInfo == '查询不到相关信息。' || mealInfo == '') }}
                <tr class="go-m-info">
                    <th rowspan="8" colspan="2">
                        很抱歉，无法获取退改签信息，请以航司退改签规则为准，详情可咨询京东客服4006115718
                    </th>
                </tr>
            {{else}}
                {{if sourceId=='188126'||sourceId== '588586'||sourceId=='621906' || sourceId == '59042' || sourceId == '58489'
				|| sourceId == '66262'||sourceId=='616106'||sourceId=='616066'||sourceId=='615927' || sourceId=='86385'
				|| sourceId=='106706' || sourceId=='138669'
				|| sourceId=='661726' || sourceId=='66301' || sourceId=='649306' || sourceId=='66363' || sourceId=='660846' || sourceId=='66362'
				|| sourceId=='137028' || sourceId=='678081' || sourceId=='667973' || sourceId=='650446' || sourceId=='66361'|| sourceId=='699349' || sourceId=='66721'
                || sourceId=='700566' || sourceId=='66763' || sourceId=='687287' || sourceId=='66762'
                || sourceId=='674946' || sourceId=='66962' || sourceId=='67241'   || sourceId=='741310'|| sourceId=='730033' || sourceId=='734156'
            }}
                    {{if refundRules && refundRules.length > 0}}
                        <tr class="go-m-info">
                            <th width="74">类型</th>
                                {{each refundRules as value}}
                                    {{if value.passengerType == 'ADT'}}
                                        <th width="102">{{value.title}}</th>
                                    {{/if}}
                                {{/each}}
                        </tr>
                        <tr>
                            <td width="74">退票费</td>
                            {{if refundRules && refundRules.length > 0}}
                            {{each refundRules as value}}
                            {{if value.passengerType == 'ADT'}}
                            {{if value.refundFee == '免费' || value.refundFee == '只退机建燃油' }}
                            <td>{{value.refundFee}}</td>
                            {{else}}
                            <td><span class="f-red">{{value.refundFee}}</span></td>
                            {{/if}}
                            {{/if}}
                            {{/each}}
                            {{/if}}
                        </tr>
                        <tr>
                            <td width="74">同舱改期费</td>
                            {{if refundRules && refundRules.length > 0}}
                            {{each refundRules as value}}
                            {{if value.passengerType == 'ADT'}}
                            {{if value.alterFee == '免费' || value.alterFee == '不可同舱改期' }}
                            <td>{{value.alterFee}}</td>
                            {{else}}
                            <td><span class="f-red">{{value.alterFee}}</span></td>
                            {{/if}}
                            {{/if}}
                            {{/each}}
                            {{/if}}
                        </tr>
                    {{/if}}
                {{/if}}


                {{if refund}}
                    <tr>
                        <td width="74">退票规定</td>
                        <td colspan="{{refundRules.length}}" class="align-left">{{refund}}</td>
                    </tr>
                {{/if}}
                {{if rebooking}}
                    <tr>
                        <td width="74">改期规定</td>
                        <td colspan="{{refundRules.length}}" class="align-left">{{rebooking}}</td>
                    </tr>
                {{/if}}
                {{if endorse}}
                    <tr>
                        <td width="74">转签规定</td>
                        <td colspan="{{refundRules.length}}" class="align-left">{{endorse}}</td>
                    </tr>
                {{/if}}


                {{if luggallow||mealInfo}}
                    <tr>
                        <td width="74">附加说明</td>
                        <td colspan="{{refundRules.length}}" class="align-left">
                            {{luggallow}}
                            {{if sourceId != '616106' && sourceId != '616066' && sourceId != '615927'}}
                                {{mealInfo}}
                            {{/if}}
                        </td>
                    </tr>
                {{/if}}
            {{/if}}
        </table>
        <div class="info-illustrate">
            <b></b>
            {{if sourceId == '616106' || sourceId == '616066' || sourceId == '615927' || sourceId == '86385' || sourceId == '106706' || sourceId == '138669' || sourceId == '661726' || sourceId == '66301' || sourceId == '650446' || sourceId == '66361'  || sourceId == '649306' || sourceId == '66363'|| sourceId == '660846' || sourceId == '66362'}}
                <div class="illustrate-c">申请退票和改期时，航司将收回优惠金额，具体以航司实际情况为准。</div>
            {{/if}}
                <div class="illustrate-c">退改签规定以航空公司最新公布为准。</div>
        </div>
    </div>
</script>
<script id="j-tip-ticket" type="text/html">
    <div class="tip-ticket-con">
        <h3 class="ticket-title"><b></b>首航旅行：{{scenicName}}</h3>
        <p><span>赠送说明：</span>本航班产品，每位乘机人均可获得{{scenicName}}门票一张。</p>
        <p><span>获取方式：</span>出票成功后凭乘机证件到景点首航指定换票处进行身份验证即可获取门票。</p>
        <p><span>有效期：</span>航班到达目的地当日起，7天内有效。</p>
        <p><span>改签规定: </span>自愿/非自愿改签时，所赠景点和有效期均以改签后航班信息为准。</p>
        <p class="sep"><span>景点简介：</span>{{scenicDes}}<a href="{{detailURL}}" target="_blank">详情猛戳</a></p>
        <p><a href="{{detailURL}}" target="_blank"><img src="{{picture}}" width="277" height="151" alt=""></a></p>
    </div>
</script>
<script id="j-order-history" type="text/html">
    <div class="order-tip">
        <h4>预订动态：</h4>
        <a class="tip-close" href="javascript:;">×</a>
        {{distinceMinites}}分钟前，用户{{username}}预定了{{depCity}}-{{arrCity}}{{airwayNameCn}}{{flightNo}}航班。
    </div>
</script>
<script id="j-tips-plane" type="text/html">
    <div class="more-detail">
        <div class="model-detail">
            <ul class="d-left">
                <li><span>机&emsp;型：</span>{{planeStyle}}</li>
                <li><span>机&emsp;龄：</span>{{flightYear}}</li>
                <li><span>餐&emsp;食：</span>{{food}}</li>
            </ul>
            <ul class="d-right">
                <li>{{if depBridge}}<span>出发停靠廊桥率：</span>{{depBridge}}{{/if}}</li>
                <li>{{if arrBridge}}<span>到达停靠廊桥率：</span>{{arrBridge}}{{/if}}</li>
                <li>{{if cancelProb}}<span>航班取消率：</span>{{cancelProb}}{{/if}}</li>
            </ul>
        </div>
        <div class="class-detail">
            {{each flightComforts as value}}
            <div class="c-item">
                <div class="c-title">{{value.className}}</div>
                <ul class="d-left">
                    <li class="fore1"><b></b>座位间距：{{if value.seatSpace}}{{value.seatSpace}}{{else}}<span class="c-collect">收集中...</span>{{/if}}</li>
                    <li class="fore3"><b></b>座位宽度：{{if value.seatWidth}}{{value.seatWidth}}{{else}}<span class="c-collect">收集中...</span>{{/if}}</li>
                    <li class="fore5"><b></b>可倾斜度：{{if value.seatTilt}}{{value.seatTilt}}{{else}}<span class="c-collect">收集中...</span>{{/if}}</li>
                </ul>
                <ul class="d-right">
                    {{if value.media && value.media != "无"}}<li class="fore2"><b></b>{{value.media}}</li>{{/if}}
                    {{if value.power == "有"}}
                    <li class="fore4"><b></b>电源</li>
                    {{else if value.power != "无" && value.power != "可能有"}}
                    <li class="fore4"><b></b>{{value.power}}</li>
                    {{/if}}
                    {{if value.wifi == "有"}}<li class="fore6"><b></b>WIFI</li>{{/if}}
                </ul>
            </div>
            {{/each}}
        </div>
    </div>
</script>
<script type="text/javascript" charset="UTF-8">
    var URI = {
        'queryFlight': '$!airplaneModule.getTarget("search/queryFlight.action")',
        'queryFlightInfo': '$!airplaneModule.getTarget("ajaxTicket/queryFlightInfo.action")',
        'getQueryFlightHistory': '$!airplaneModule.getTarget("search/getQueryFlightHistory.action")',
        'weeklowprice': '$!airplaneModule.getTarget("ajaxTicket/weeklowprice.action")',
        'queryStopInfo': '$!airplaneModule.getTarget("ajaxTicket/queryStopInfo.action")',
        'queryCabinProvision': '$!airplaneModule.getTarget("ajaxTicket/queryCabinProvision.action")',
        'refreshAuth': '$!airplaneModule.getTarget("captcha/refreshAuth.action")',
        'checkAuth': '$!airplaneModule.getTarget("captcha/checkAuth.action")',
        'queryOrderHistory': '$!airplaneModule.getTarget("ajaxTicket/queryOrderHistory.action")',
        'queryMonthLowPriceJson': '$!airplaneModule.getTarget("ticketquery/queryMonthLowPriceJson.action")',
        'airplaneOrder': '$!airplaneModule.getTarget("airplaneorder/airplaneOrder.action")',
        'promotionBookCheck': '$!airplaneModule.getTarget("promotion/ajaxquery/promotionBookCheck.action")',
        'queryVenderCouponList': '$!airplaneModule.getTarget("coupon/queryVenderCouponList.action")',
        'applyForCoupon': '$!airplaneModule.getTarget("coupon/applyForCoupon.action")',
        'queryPlaneInfo':'$!airplaneModule.getTarget("search/queryFlightComfort.action")',
        'querySaleActivity':'$!airplaneModule.getTarget("rule/querySaleActivity.action")'
    }
    var searchModel = {
        depCity:"#if($!query)$!query.depCity#else北京#end",
        arrCity:"#if($!query)$!query.arrCity#else中文/拼音/简拼#end",
        depDate:"#if($!query)$!query.depDate#else$!currentDate#end",
        arrDate:'#if($!query.lineType=="RT")$!query.arrDate#else$!query.depDate#end'
    };
    seajs.use(['//misc.360buyimg.com/virtuals/jipiao/1.0.2/js/list/jp-search'], function (init) {
        init();
    });
</script>
