<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flight.manager.mapper.CcsAirportMapper" >
  <resultMap id="BaseResultMap" type="com.flight.manager.model.CcsAirport" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="airport3code" property="airport3code" jdbcType="VARCHAR" />
    <result column="airport_name" property="airportName" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_domestic" property="isDomestic" jdbcType="INTEGER" />
    <result column="main_port3c" property="mainPort3c" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="airport_simple_name" property="airportSimpleName" jdbcType="VARCHAR" />
    <result column="pinyin_simple" property="pinyinSimple" jdbcType="VARCHAR" />
    <result column="is_hot_city" property="isHotCity" jdbcType="INTEGER" />
  </resultMap>
  <select id="OrderByAirport" resultMap="BaseResultMap">
	  SELECT * FROM ccs_airport  WHERE status=1 ORDER BY  airport3code 
  </select>
  <!-- 查询列表 -->
  <select id="queryList" parameterType="com.flight.manager.model.CcsAirport" resultMap="BaseResultMap">
  		select * from ccs_airport
  		<where>
  			<if test="airportName != null and airportName != ''">
				and airport_name like "%"#{airportName}"%" 
			</if>
			<if test="airport3code != null and airport3code != ''">
				and airport3code like "%"#{airport3code}"%" 
			</if>
			<if test="cityName != null and cityName != ''">
				and city_name like "%"#{cityName}"%"  
			</if>
			<if test="isDomestic != null">
				and is_domestic = #{isDomestic}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
		</where>
  </select>
    <!-- 根据航班号查询发出短信内容 -->
	<select id="queryAirChangMessage" resultType="map">
	SELECT DISTINCT
		m.flightno AS flightno,
		m.fromport_terminal as fromportterminal,
		m.toport_terminal as toportterminal,
		airport1.city_name AS depcity,
		airport2.city_name AS arrcity,
		airport1.airport_simple_name AS depair,
		airport2.airport_simple_name AS arrair,
		date_format(m.depart_time, '%Y-%m-%d') AS flightdate,
		date_format(m.depart_time, '%H:%i') AS deptime,
		date_format(m.arrive_time, '%H:%i') AS arrtime,
		aircompany.company_name companyname,
		aircompany.phone p
	FROM
		ccs_flight_m m,
		ccs_airport airport1,
		ccs_airport airport2,
		ccs_flight_change n,
		ccs_aircompany aircompany
	WHERE
		m.fromport3c = airport1.airport3code
	AND m.toport3c = airport2.airport3code
	AND m.aircomp2c = aircompany.aircomp2c
	AND m.order_id = n.order_id
	AND m.order_id = #{0}
	AND m.pnr_id = (select a.pnr_id from ccs_pnr_m a where a.order_pnr = #{1})
	</select>
	
	<select id="selectCityName" resultType="map">
	SELECT airport3code,city_name
	FROM ccs_airport
	WHERE status = 1 
		AND airport3code in 
		<foreach collection="array" item="code" open="(" close=")" separator=",">
			#{code}
		</foreach>
	</select>

	<select id="selectAirportName" resultType="java.lang.String">
	SELECT airport_name
	FROM ccs_airport
	WHERE status = 1
		AND airport3code = #{code}
	</select>
</mapper>